//$base-color: #1C94C4;
$base-color: #f5a422;
//$page-bg-color:linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
//$page-bg-color: lighten($base_color, 30%);
$page-bg-color:  #76a096;
$dashboard-button-color: $page-bg-color;
$menu-button-color: darken($dashboard-button-color, 30%);
$form-bg-color: $page-bg-color; 

.x-field-input{
	background: lighten($base-color, 40%) !important;
}
.x-form-field{
	background: lighten($base-color, 40%) !important;
}

.x-toolbar-dark .x-title{
	color: white !important;
}

.x-dock-body{
	color: white !important;
}

.x-button{
	color: white !important;
}


// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
//buttons
//http://dev.sencha.com/deploy/touch/examples/production/toolbars/

.menu {
 	background: $menu-button-color;
 	
 	.x-list-item{
 		color: white;
 		border-top: 1px solid $base-color !important;
 		
 	}
 	.x-list-item-last {
 		border-bottom: 1px solid $base-color !important;
 	}
 	.x-item-pressed{
 		background: $base-color !important;
 	}
}

.menuButton {
	border: 0.1em solid $base_color;
	color: $base_color;
	background: linear-gradient(to top, color-stops(lighten($menu-button-color, 30%), lighten($menu-button-color, 15%) 4%, $menu-button-color));
}

.dashboardButton {
	margin: 1em;
	width: 4em;
	height: 4em;
	padding: 0.1em;
	@include border-radius(10px);
	border: 0.1em solid $base_color;
	//background: linear-gradient(color-stops(lighten($base_color, 30%), lighten($base_color, 15%) 4%, $base_color));
	//background: linear-gradient(white, lighten($base-color, 20%));
	background: linear-gradient(to bottom, color-stops(lighten($dashboard-button-color, 30%), lighten($dashboard-button-color, 15%) 4%, $dashboard-button-color));
}

.dashboardButtonPressed {
	background: linear-gradient(to top, color-stops(lighten($dashboard-button-color, 30%), lighten($dashboard-button-color, 15%) 4%, $dashboard-button-color));
}

.dashboardButtonDisabled {
	opacity: 0.7;
}


// Examples of using the icon mixin:
@include icon('question');
@include icon('table');
@include icon('bell');
@include icon('case');